.pesquisa{
    background-color: rgb(138, 201, 253);
    font-size: x-large;
    

}

.cor{
    background-color:pink;
    font-size: x-large;
}
.espaço{
    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
  
}

.letra{
    color: black;
    
}

.foto{
    padding-top: 20px;
}
.texto{
    color: black;
    padding-right: 398PX;
}
.espaçamento{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    padding-right:400px;
}

.teste{
    padding-top: 25px;
}
.paragrafo{
font-family: Arial, Helvetica, sans-serif;
padding-top: 200px;
padding-left: 390px;

}
.palavra{
color:black;
padding-left: 398px;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}