.pesquisa{
    background-color: beige;
    color: white;
}

.cor{
    background-color:pink;
}
.espaço{
    padding-top: 200px;
  
}

.letra{
    color: gray;
}

.foto{
    padding-top: 20px;
}
.texto{
    color: gray;
    padding-left: 398PX;
}
.espaçamento{
    padding-top: 200px;
    padding-left: 385px;
}

.teste{
    padding-top: 25px;

}